:root 
{
    background-color: lightslategray;
}
@font-face 
{
    font-family: Mainfont;
    src: url("themes//fonts/OpenSans");
}
h1 
{
    color: white;
    background-color:gray;
    margin-right: 420px;
    font-family: Mainfont;
}