:root 
{
    background-color: peachpuff;
}

h1 
{
    color: red;
    font-size: 25px;
    text-align: center;
    
}
h2 
{
    text-align: center;
    color: darkred;
}
h3 
{
    text-align: center; 
}
h1, h3 
{
    border: 2px solid darkred;
    margin-left: 400px;
    margin-right: 400px;

}
img 
{
    height: 300px;
    box-align: center;
}
p
{
    text-align: center;
}

thead, th
{
    
    color: darkred;
}

