:root 
{
    background-color: peachpuff;
}
@font-face
{
    font-family: Mainfont;
    src: url("fonts/Rubik.ttf");
}
h1 
{
    color: red;
    font-size: 25px;
    text-align: center;
    font-family: Mainfont;
}
h2 
{
    text-align: center;
    color: darkred;
    font-family: Mainfont;
}
h3 
{
    text-align: center; 
    font-family: Mainfont;
}
h1, h3 
{
    border: 2px solid darkred;
    margin-left: 400px;
    margin-right: 400px;

}
img 
{
    height: 300px;
    box-align: center;
}
a 
{
    border: 2px dotted darkred;
    padding: 2px;
    margin-left: 635px;
    margin-right: 600px;
    font-family: Mainfont;
}
p
{
    text-align: center;
    font-family: Mainfont;
}
thead, th
{
    
    color: darkred;
}

